@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0  ;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 80%;
    height: 80%;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
}

.card-left {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info h1 {
    font-size: 16px;
    font-weight: 600;
    color: #786450;
}

.info p {
    font-size: 11px;
    line-height: 15px;
    color: #b5aa9f;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .7rem;
}

.social button {
    background-color: transparent;
    border: 1px solid #786450;
    color: #786450;
    cursor: pointer;
    padding: .5rem 2.0rem;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
    transition: all 200ms ease;
}

.social button:hover{
    background-color: #786450;
    color: #fff;
}


.profile {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    position: relative;
}

.profile:hover::before {
    transform: rotate(360deg);
}

.profile:hover::after {
    transform: rotate(-360deg);
}

.profile::before {
    content: '';
    position: absolute;
    display: inline-block;
    top: -5px; left: -5px;
    width: 110%;
    height: 110%;
    border: 1px solid black;
    border-color: #82705d #82705d #82705d transparent;
    border-radius: 100%;
    cursor: pointer;
    transition: all 1500ms ease;
}

.profile::after {
    content: '';
    position: absolute;
    display: inline-block;
    top: -8px; left: -8px;
    width: 118%;
    height: 118%;
    border: 1px solid black;
    border-color: #82705d transparent #82705d #82705d;
    border-radius: 100%;
    cursor: pointer;
    transition: all 1500ms ease;
}

.profile img {
    width: 100%;
    border-radius: 100%;
}

.circle {
    
}

.card-right {
    width: 40%;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.box {
    background-color: #f5e8df;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #786450;
    transition: all 200ms ease;
    cursor: pointer;
}

.box:hover {
    background-color: #E1CFC2;
}

.box h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: .8;
}

.box p {
    font-size: 11px;
}