@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
	box-sizing: border-box;
}




.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
 background-color:red;
 width: 100%;
 height: 100%;
 border-radius: 5px;  
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 5px;
 overflow: hidden;
}

.purple, .green, .blue {
	position: absolute;
	top: 0;
	left: 100%;
	height: 100%;
	width: 100%;
	transition: transform 1000ms ease;
}

.purple {
	background-color: #9B59B6;
	left: 0;
}

.blue {
	background-color: #3498DB;
	left: 100%;
}

.green {
	background-color: #1ABC9C;
	left: 200%;
}

#selectedball {
	position: absolute;
	background-color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	top: 5px;
	left: 5px;
	transition:transform 800ms ease-out;
}

.circles {
	display: flex;
	gap: 10px;
	position: relative;
}

.circle {
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 100%;
	z-index: 5;
	position: relative;
	cursor: pointer;
}

