@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
	box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	background: #fff;
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: .3rem;
	padding: .3rem;
	position: relative;
	overflow: hidden;
}

.close-btn {
	cursor: pointer;
	position: absolute;
	top: -100%; right: 3%;
	border: none;
	background-color: #EC6565;
	color: #fff;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	font-size: 22px;
	font-weight: 100;
	transition: color 400ms ease, background-color 400ms ease, top 800ms ease 400ms;
	z-index: 30;
	
}

.close-btn:hover{
	background-color: #fff;
	color: #EC6565;
}

.close-btn_open {
	top: 3%; 
}

.profile {
	position: absolute;
	top: 0%; left: 50%;
	transform: translate(-50%, -100%);
	height: 100px;
	width: 100px;
	overflow: hidden;
	border-radius: 100%;
	border: 2px solid #fff;
	z-index: 20;
	transition: all 300ms ease-in 0ms;
	
}

.profile_open {
	top: 50%; left: 50%;
	transform: translate(-50%, -70%);
	transition: all 800ms ease-in 800ms;
}

.profile img {
	width: 100%;
	height: 100%;
}

.top_overlay {
	position: absolute;
	top: -100%; left: 0;
	z-index: 10;
	transition: all ease-in 800ms;
	height: 45%;
	width: 100%;
}

.top_overlay img {
	height: 100%;
	width: 100%;
}

.top_overlay_open {
	top: 0; left: 0;
}

.bottom_overlay {
	position: absolute;
	height: 55%;
	width: 100%;
	background-color: #EC6565;
	top: 100%; left: 0;
	transition: all ease-in 800ms;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	padding: 1rem;
}

.bottom_overlay h1 {
	font-size: 1rem;
	font-weight: 600;
	height: 50%;
	padding-top: 2rem;
}

.bottom_overlay_open {
	top: 45%; left: 0;
}

.items {
	display:  flex;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}

.item {
	font-size: 22px;
	width: 45px;
	height: 45px;
	color: #fff;
	border: 1px solid #fff;
	background-color: #EC6565;
	border-radius: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 400ms ease;
}

.item:hover {
	background-color: #fff;
	color: #EC6565;
}

.img_container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.img_container img {
	width: 100%;
	height: 100%;
}

.overlay{
	position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 400ms;
}

.img_container:hover .overlay{
	opacity: 1;
}

.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #EC6565;
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
	opacity: 0;
	transform: translate(-50%,-50%)	scale(2) translate3d(0, 0, 0);
	transition: all 400ms ease-in-out;
}

.img_container:hover .circle{
	opacity: 1;
	font-size: 3rem;
	transform: translate(-50%, -50%) scale(1) translate3d(0, 0, 0);
}


.circle::after {
	content: '';
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	width: 2px;
	height: 14px;
	z-index: 10;
	opacity: 0;
}

.img_container:hover .circle::after ,.img_container:hover .circle::before {
	opacity: 1;
}
.circle::before {
	content: '';
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	width: 14px;
	height: 2px;
	z-index: 10;
	opacity: 0;
}




