@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
	box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	background: #fff;
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: .3rem;
	padding: .3rem;
}

.img_container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	
}

.img_container img {
	width: 100%;
	height: 100%;
	
}

.overlay{
	position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 400ms;
}

.img_container:hover .overlay{
	opacity: 1;
}

.img_container:hover .circle{
	opacity: 1;
	animation:  scaleCircle 400ms ease-in forwards;
	font-size: 3rem;
}

@keyframes scaleCircle {
	from {
		transform: translate(-50%,-50%)	scale(2);
	}
	to {
		transform: translate(-50%, -50%) scale(1);
	}
}

.circle::after {
	content: '';
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	width: 2px;
	height: 14px;
	z-index: 10;
	opacity: 0;
}

.img_container:hover .circle::after ,.img_container:hover .circle::before {
	opacity: 1;
}
.circle::before {
	content: '';
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	width: 14px;
	height: 2px;
	z-index: 10;
	opacity: 0;
}

.circle {
	will-change: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #EC6565;
	font-size: 1rem;
	color: #fff;
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
	opacity: 0;
	transition: all ease-in-out 400ms;
	
}

