@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}

.container {
  background-color: #264057;
  width: 100%;
  height: 100%;
}

.main {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #5f98cd;
  display: flex;
  justify-content: space-between;
  color: #b2daff;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  position: relative;
}

.leftbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-right: auto;
  
}

.navbar h1 {
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 60px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    
}

.menu {
  cursor: pointer;
  background-color: #5f98cd;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0rem;
  gap: .5rem;
}

.menu-up {
  display: flex;
  width: 100%;
  gap: .1rem;
  justify-content: center;
  align-items: center;
}

.menu:hover .bar, .menu:hover .circle {
  background-color: #fff;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #b2daff;
  border-radius: 3px;
  transition: all 200ms ease;
}

.menu-up .bar {
  width: calc( 100% - 7px);

}
.circle {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #b2daff;
  transition: all 200ms ease;
}

.search {
  opacity: 0;
  position: absolute;
  left: 30px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  width: 75%;
  transition: all 300ms ease;
  outline: none;
}

.search.active {
  left: 12px;
  opacity: 1;
}

.searchicon {
  width: 30px;
  height: 30px;
  background-color: #5f98cd;
  font-size: 21px;
  transition: all 200ms ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.searchicon:hover {
  color: #fff;
  
}