@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

*{
 box-sizing: border-box;   
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}

.container {
    background-color: #4CB6DE;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}



blockquote {
    color: #fff;
    padding-top: 1rem;
    position: relative;
    line-height: 1.4;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
}

blockquote::before {
    content: '„';
    color: #7fc8e2;
    position: absolute;
    top: -120px;
    left: -10px;
    font-size: 7rem;
}

.tooltip-trigger {
    background-color: #286F8A;
    padding: .08rem .6rem;
    font-size: 1.7rem;
    position: relative;
    cursor: pointer;
}

.tooltipbox {
    position: absolute;
    top: -100%; left: 50%;
    transform: translate(-50%, calc(-100% - 2.4rem));
    width: 300px;
    font-size: 18px;
    opacity: 0;
    transition: all 800ms ease 300ms;
}

.tooltip-trigger:hover .tooltipbox {
    transform: translate(-50%, calc(-50% - 2.4rem));
    opacity: 1;
}


.tooltipbox::after {
    content: '';
    position: absolute;
    top: 100%; left: 50%;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #286F8A transparent transparent transparent;
}
.tooltiptop {
    background-color: #fff;
    color: #286F8A;
    width: 100%;
    padding: .3rem 1rem;
    display: flex;
    flex-direction: row;
    gap: .7rem;
    align-items: center;   
    font-size: 18px;
}

.tooltiptop i {
    transition: all 0.2s ease-out 100ms;
}

.tooltiptop i:hover {
    transform: scale(1.1);
}

.tooltipbody { 
    background-color: #286F8A;
    color: #fff;
    padding: .3rem 1rem;
    font-size: 18px;
    line-height: 1.5rem;
}

.author {
    align-self: flex-start;
    color: #fff;
    font-size: 1.4rem;
    font-style: italic;
}